.profileStatus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

p.statusText {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.statusInput {
  height: 25px;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid darkgray;
}