.header {
  background-color: #282c34;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.headerContainer {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.header a {
  color: #fff;
}

.login {
  padding-right: 20px;
}