.sidebar {
  background-color: #7086b4;
  width: 30%;
  min-height: 50vh;
  margin: 10px 0;
  padding: 40px 5px;
}

.sidebar ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.sidebar ul li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.sidebar ul li a:hover {
  color: #000;
}

.sidebar ul li a.active {
  color: #000;
}