.dialog {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: left;
  font-size: 18px;
  padding: 10px;
  box-shadow: 0px 7px 25px -20px rgba(66, 68, 90, 1);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.dialog:hover {
  background: rgba(0, 0, 0, 0.05);
}

.dialog img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}