.App {
  text-align: center;
}

.logo {
  width: 100px;
  height: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main {
  display: flex;
  justify-content: space-between;
}

.content {
  margin: 10px 0;
  width: 67%;
}

p {
  font-size: 18px;
  text-align: left;
}

img {
  display: flex;
  width: 100%;
  object-fit: contain;
}

h2 {
  text-align: left;
}

h3 {
  font-size: 22px;
  margin: 0 0 15px;
}

h4 {
  font-size: 20px;
  margin: 0;
}

ul, p, a {
  margin: 0;
}

.checkbox-box {
  display: flex;
  align-items: center;
}

.checkbox-box input {
  height: unset;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
