.dialogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 20px;
}

h2 {
  display: flex;
  width: 100%;
}

.dialogsItems {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.messages {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}