.dialogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 20px;
}

h2 {
  display: flex;
  width: 100%;
}

.dialogsItems {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.messages {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.sendMessage {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-top: auto;
}

.sendMessage textarea {
  width: calc(80% - 30px);
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 12px;
  resize: none;
}

.sendMessage button {
  width: calc(20% - 20px);
  border-radius: 12px;
  background-color: greenyellow;
  color: #000;
  transition: .3s;
  cursor: pointer;
  border: 1px solid transparent;
}

.sendMessage button:hover {
  border-color: #000;
}